#bar-circle
{
  padding:1%;
  position: absolute;
  left: 30%;
  width: 30%;
  height: 300px;
  background: black;
  box-sizing: border-box;
}

.bar
{
  width: 20%;
  height: 20px;
  background:white;
  margin: 1%;
}

#bar1
{
  position: absolute;
  transform: rotate(90deg);
  left: 30%;
  top:20%;
}

#bar2
{
  position: absolute;
  transform: rotate(90deg);
  left: 30%;
  top: 70%;
}
#bar3
{
  position: absolute;
  transform: rotate(0deg);
  left: 10%;
  top: 45%;
}

#bar0
{
  position: absolute;
  transform: rotate(0deg);
  left: 50%;
  top: 45%;
}