
body{
    background:url('/img/Chess1.jpg') no-repeat;
    background-size: cover;
    
}

.player{
    width: 100px;
    height: 100px;
    background:#fff;
    border:1px solid rgba(2,2,200,.2);
    border-radius:0px;
    border-bottom-left-radius: 0px;
    box-sizing:border-box;
    float: center;
    background: rgba(20,20,180,.2);
}

#player1{
    background: rgba(20,20,180,.2);
}
#player2{
    background: rgba(30,20,180,.2);
}

.player-name
{
    background: rgba(20,0,10,.6);
    margin:0%;
    padding: 5px;
    padding-left: 2%;
    font: bold 80% "Segoe UI",arial;
    color:white;
}

/*
.out-tab
{
    width:50%;
    height: 300px;
}
.out-tab.t2
{
    float:right;
}
.out-piece[id^="opi2"]
{
    float:right;
    margin-bottom:1% ;
    border-left:0px solid ;
    border-right:8px solid ;
}

.opicon
{
    width:50%;
    height: 50px;
    background: rgba(0,0,0,1);
    background: url('../img/icons/pawn1.png') rgba(0,0,0,.01) no-repeat;
    background-size: contain;
    margin-left: 20%;
    margin-top: 10%;
}

.out-piece
{
    margin:0%;
    width: 45%;
    height: 50px;
    background: rgba(0,0,0,.1);
    border-left:8px solid #000;
    box-sizing:border-box;
    float: left;
}

.out-count
{
    background-size: cover;
    padding: 1%;
    padding-left: 20%; 
    margin:1%;
    margin-top: 0px;
    width: 50%;
    height: 50px;
    background:rgba(0,0,0,.6);
    float:left;
    color: rgba(25,200,20,.8);
    font:bold 110% "Segoe UI";
    box-sizing:border-box;
}

*/

#board{
    float: center;
    background: #000;
    opacity:.99;
}

.board-row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
}

.block{
    background:#00f00f;
    border:0px solid #000a0f;
    width: 100%;  
    height:48px;
}

.img-block{
    background: url('img/');
    background-size: cover;
    width: 100%;
    height: 100%;
}