<html>
    <head>
        <title>OnlChess | Login</title>
    </head>
    <body>
        <div name="login" class="form">
            <button class="btn" value="Start" onclick='$.redirect("/req-new")'> Start New Game</button>
        </div>
        <div class="card-list" class="invitation-list">
            
        </div>
        <script type="text/javascript" src="../js/axios.min.js"></script>
        <script type="text/javascript" src="../js/main.js"></script>
        <script type="text/javascript" src="../js/sweetalert2.js"></script>
    </body>
</html>