<html>
    <head>
        <title> OnlChess | Login </title>
        <link rel="stylesheet" href="../css/ui.css">
    </head>
    <body>
        <div name="login" class="login form">
            <input type="text" name="username" id="username" />
            <button class="btn" value="Start" onclick="login()"> Start </button>
        </div>
        <script type="text/javascript" src="../js/axios.min.js"></script>
        <script type="text/javascript" src="../js/login.js"></script>
        <script type="text/javascript" src="../js/sweetalert2.js"></script>
    </body>
</html>