<html>
    <head>
        <title>T-resk -Play Chess</title>
    <link rel="stylesheet" href="/css/main.css" >
    <style type="text/css" >
    </style>
        
        <!--    colors of pieces
            230,70,30
            80,90,220
        -->
        <script src="/socket.io/socket.io.js"></script>
        
        <script src="/js/play.js"></script>
        <script>

        function bclick(e)
        {
            var e = {
                event : 'block-click' , 
                blockId: e.getAttribute("id")
            };

            fire(e);
        }
        window.onbeforeunload=function(){return "Do u want to quit"; }
    </script>
    
    </head>
    <body>
    <div id="player1" class="player">
        <div id="pname1" class="player-name">
            Player 1
        </div>
    <!--    <div id="outs" class="out-tab">
            <script>
                for(var i=0;i<5;i++)
                    document.write("<div id=\"opi1"+i+"\" class=\"out-piece\"><div id=\"opicon1"+i+"\" class=\"opicon\"></div></div><div id=\"opcnt1"+i+"\" class=\"out-count\">0</div>");
            </script>
        </div>
    -->
    
    </div>
        
    <div id="board">
        
        <script>
            /* showing divs and board */
            for(var i=1;i<9;i++)
            {
                document.write('<div class="board-row">');
                for(var j=1;j<9;j++)
                {
                    document.write("<div id=\"b"+i+""+j+"\" class=\"block\" onclick=\"bclick(this)\">"
                                   +"<div id=ib"+i+""+j+" class=img-block>"
                                   +"</div>"
                                +"</div>");
                }
                document.write("</div>");
            }
            
        </script>
    </div>
        
    <div id="player2" class="player">
        <div id="pname2" class="player-name">
            Player 2
        </div>
    <!--
        <div id="outs" class="out-tab t2">
            <script>
                for(var i=0;i<5;i++)
                    document.write("<div id=\"opi2"+i+"\" class=\"out-piece\"><div id=\"opicon2"+i+"\" class=\"opicon\"></div></div><div id=\"opcnt2"+i+"\" class=\"out-count\">0</div>");
            </script>
        </div>
    -->

    </div>
        
        <script>
            
            //setting colors
            for(var i=1;i<9;i++)
            {
                for(var j=1;j<9;j++)
                {
                    var el=document.getElementById("b"+i+""+j);
                    var clr="";
                    
                    if(i%2!=0)
                        if(j%2!=0)
                             clr="rgba(255,255,255,.8)";
                        else
                            clr="rgba(0,0,0,.8)";
                    else
                        if(j%2!=0)
                            clr="rgba(0,0,0,.8)";
                        else
                            clr="rgba(255,255,255,.8)";
                    
                    el.setAttribute("style","background-color:"+clr+";");
                }
            }
        
        </script>
        <script type="text/javascript" src="js/board.js"></script>
    </body>
    
</html>